Signed in as @<%= cookies.signed[:username]%>.
<br><br>
<div id='messages'></div>
<!-- Here, append all messages coming through the channel -->
<br>
<div id='chat-form'>
<br>
<!-- form submits messages via AJAX request to avoid page reloads -->
  <%= form_for @message, remote: true do |f| %>
    <%= link_to "@#{current_username}", root_path %>:
    <%= f.text_field :body, autofocus: true %>
  <% end %>
</div>
<% end %>
