<!DOCTYPE html>
<html>
<head>
  <title>ActionChat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>Inspired by the work of David Heinemeier Hansson and Nithin Bekal</footer>
</body>
</html>
